/* -------------------- Add your styling here -------------------- */
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.calculator {
    width: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.calculator .item {
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.flex {
    display: flex;
}

.flex_jt_ct {
    justify-content: space-between;
}

.calculator .input_box {
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding: 10px;
}

.oper_box {
    margin-top: 10px;
}

.oper_box .item {
    border: 1px solid #bbb;
    background-color: #ddd;
}

.num_box {
    width: 294px;
}

.num_box {
    flex-wrap: wrap;
}

.calculator .oper_equal {
    height: 186px;
    line-height: 186px;
    border: 1px solid #99bcef;
    background-color: #bbd4f9;
    color: #fff;
}
